.container {
  margin: 0 30px;
}

#programs {
  height: 150vh;
  background-image: url(../img/cover-high.jpg);
  background-size: cover;
}

.map {
  width: 100%;
  height: 450px;
}

p {
  text-align: justify;
}
